@use 'config' as c;
@use 'mobile';
@use 'utilities';
@import 'buttons';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: c.$light-color;
    font-family: c.$font-stack;
    line-height: 1.6;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.showcase {
    @include c.set-background(c.$primary-color);
    height: 600px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
        }

        li {
            padding: 15px;
        }

        a:hover {
            color: c.$secondary-color;
        }
        
        a {
            color: c.set-text-color(c.$primary-color);
        }
    } 
    


    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        img {
            width: 50%;
        }

        h1 {
            font-size: 50px;
            line-height: 1.2;
        }

    }
}
